<div class="overlay">
	<div class="overlay-button-panel">

		<span ng-show="overlayType === 'otherBooks'"  class="glyphicon glyphicon-plus overlay-button" data-toggle="tooltip" title="Add to My Books" ng-click="addBook({bookObject:book})"></span>

		<span ng-show="overlayType === 'myBooks'"  class="glyphicon glyphicon-trash overlay-button" data-toggle="tooltip" title="Remove from My Books"></span>

	</div>
</div>
<img class="book-cover-thumbnail" ng-src="{{book.imageLinks.thumbnail}}">
<p><strong>{{book.title}}</strong></p>
<p>by {{book.authors[0]}}</p>
