<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <h1>My read books</h1>
    <div ng-repeat="book in userBookList">
      <div class="col-md-3 book-tile">
        <div book-tile book="book"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>Add a book</h1>
    </div>
    <div class="col-sm-12">

      <ui-select search-enabled ng-model="book.selected" theme="bootstrap" on-select="addBook($select.selected)">
        <ui-select-match>
          {{$select.selected.volumeInfo.title}} 
          by {{$select.selected.volumeInfo.authors[0]}}
        </ui-select-match>
        <ui-select-choices repeat="volume in googleBooks" 
            refresh="refreshBooks($select.search)"
             refresh-delay="0">
          <div>
            <img class="small-thumbnail" ng-src="{{volume.volumeInfo.imageLinks.smallThumbnail}}"></img>
            <span ng-bind-html="volume.volumeInfo.title | highlight: $select.search"></span>
            <span>by</span>
            <span ng-bind-html="volume.volumeInfo.authors[0]"></span>
          </div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>What other bookclub members are reading</h1>
    </div>
  </div>
  <div class="row" ng-repeat="singleBook in completeBookList track by $index" ng-if="$index%4===0">
    <div class="col-md-3 book-tile" ng-repeat="i in [$index,$index+1,$index+2,$index+3]" ng-if="completeBookList[i]!=null">
      <div book-tile book="completeBookList[i]"></div>
    </div>
  </div>
</div>