<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <!-- Add a book input bar -->
  <div class="row">
    <div class="col-sm-12">
      <h1>Add a book</h1>
      <h4>Type in any book and select it to add it to "My books"</h4>
    </div>
    <div class="col-sm-12">

      <ui-select search-enabled ng-model="book.selected" theme="bootstrap" on-select="addBook($select.selected)">
        <ui-select-match>
          {{$select.selected.volumeInfo.title}} 
          by {{$select.selected.volumeInfo.authors[0]}}
        </ui-select-match>
        <ui-select-choices repeat="volume in googleBooks" 
            refresh="refreshBooks($select.search)"
             refresh-delay="0">
          <div>
            <img class="small-thumbnail" ng-src="{{volume.volumeInfo.imageLinks.smallThumbnail}}"></img>
            <span ng-bind-html="volume.volumeInfo.title | highlight: $select.search"></span>
            <span>by</span>
            <span ng-bind-html="volume.volumeInfo.authors[0]"></span>
          </div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
  <!-- END Add a book input bar -->

  <!-- List of your read books -->
  <div class="row">
    <div class="col-sm-12">
      <h1>My books</h1>
    </div>
    <div class="col-sm-12" ng-show="userBooks.length === 0">
      <h4>Add books so that we can match you with others!</h4>
    </div>
    <div ng-repeat="book in userBooks">
      <div class="col-md-3 book-tile">
        <div book-tile book="book" overlay-type="'myBooks'" remove-book="removeBookFromUser(bookObject)"></div>
      </div>
    </div>
  </div>
  <!-- END of List of your read books -->

  <!-- What other bookclub members are reading -->
  <div class="row">
    <div class="col-sm-12">
      <h1>Other bookclub members are reading</h1>
    </div>
  </div>
  <div class="row" ng-repeat="singleBook in completeBookList track by $index" ng-if="$index%4===0">
    <div class="col-md-3 book-tile" ng-repeat="i in [$index,$index+1,$index+2,$index+3]" ng-if="completeBookList[i]!=null">
      <div book-tile book="completeBookList[i]" overlay-type="'otherBooks'" add-book="addBookToUser(bookObject)"></div>
    </div>
  </div>
  <!-- END What other bookclub members are reading -->

</div>