.book-tile{
	text-align: center;
	padding: 1em;
	min-height: 350px;
	&:hover{
		background-color: #D2EEF7;
		border-radius: 0.5em;
	}
}
.select-bar{
	height: 4em;
}
.small-thumbnail{
	max-height: 2.5em;
}